<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farahnstoreapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Detail_of_product"
            android:label="@string/title_activity_detail_of_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List_of_products"
            android:label="@string/title_activity_list_of_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List_of_Category"
            android:label="@string/title_activity_list_of__category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>